/*prueba compilacion*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #47548d;
}

p {
  color: white;
  padding-top: 10px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.textos-colores {
  color: rgb(235, 173, 4);
}

.margin-navbar {
  margin-right: 60px;
}

.footer-container {
  color: white;
}
.footer-container .footer-div {
  text-align: center;
}
.footer-container .footer-div .footer-autor {
  font-style: italic;
  /* color: rgb(235, 173, 4) */
}
.footer-container .footer-div .footer-autor #footer-frase {
  color: rgb(235, 173, 4);
}
.footer-container .footer-div .footer-links {
  color: white;
  text-decoration: none;
}
.footer-container .footer-div .footer-titulos {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(235, 173, 4);
}

.carrete {
  margin-top: 2px;
}

.carrete img {
  height: 95vh;
  border-radius: 10px;
}

.row-dos {
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin: 0 auto;
}
.row-dos p {
  background-color: rgba(21, 26, 26, 0.29);
  padding: 10px;
  border-radius: 30px;
  align-items: center;
  text-align: center;
}

.row-dos img {
  border-radius: 30px;
}

.imagen {
  padding-top: 10px;
  width: 500px;
  margin: auto;
}

.caracteriticas-index {
  background-color: rgb(2, 1, 1);
  margin-top: 20px;
}
.caracteriticas-index .instalaciones-container {
  width: fit-content;
  margin: auto;
  padding: 80px 0px;
}
.caracteriticas-index .instalaciones-container .lista-instalaciones {
  color: white;
  font-size: 20px;
  line-height: 40px;
  list-style: circle;
}

#seccion4 {
  text-align: center;
  font-size: 40px;
  color: white;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.prueba1 {
  color: white;
  margin: auto;
  width: auto;
  text-align: justify;
  margin-top: 15px;
}
.prueba1 .lista-direcciones {
  list-style: none;
  padding-top: 50px;
}

.prueba2 {
  text-align: center;
}
.prueba2 .google {
  width: 400px;
  height: 400px;
  margin-right: 20px;
}

/* Actividades.html */
.activ-titulo {
  color: white;
  text-align: center;
  border-top: solid 1px white;
  padding-top: 20px;
  color: rgb(235, 173, 4);
  font-weight: bold;
}

.row-activ {
  text-align: justify;
}
.row-activ .activ-detalle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.row-activ .activ-horarios {
  text-align: center;
  padding-bottom: 10px;
  color: rgb(224, 207, 158);
}
.row-activ .activ-list {
  text-align: center;
  list-style: none;
  color: rgba(255, 255, 255, 0.651);
}

/*Staff.html*/
.row-activ-staff {
  text-align: center;
  margin: 0 auto;
}

.staf-uno {
  /* width: 0 auto;
  height: 0 auto; */
  background-color: aliceblue;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  border: solid 1px black;
  border-radius: 5px;
  padding-top: 5px;
}

.ppp {
  overflow: auto;
  text-align: center;
}

.profes {
  margin-top: 10px;
  margin-bottom: 15px;
}
.profes .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* margin-top: 20px; */
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}
.profes .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.profes .flip-card .flip-card-inner .flip-card-front, .profes .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}
.profes .flip-card .flip-card-inner .flip-card-front {
  background-color: none;
  color: black;
}
.profes .flip-card .flip-card-inner .flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.profes .flip-card .flip-card-inner .flip-card-back .staff-list {
  list-style: none;
  text-align: center;
}
.profes .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/*Clases.html*/
.promos {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.promos .titulo-clases {
  text-align: center;
  margin: auto;
  color: aliceblue;
}
.promos .caja {
  border: solid 2px black;
  margin: 15px;
  margin-left: 10px;
  width: 250px;
  background: #0F1012;
  color: #f9f9f9;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 15px;
}
.promos .caja .deal {
  padding: 10px 0 0 0;
}
.promos .caja .deal .pack {
  color: #e59307;
}
.promos .caja .deal span {
  display: block;
  text-align: center;
}
.promos .caja .deal span:first-of-type {
  font-size: 23px;
}
.promos .caja .deal span:last-of-type {
  font-size: 13px;
}
.promos .promo .price {
  display: block;
  background: #292b2e;
  margin: 15px 0 10px 0;
  text-align: center;
  font-size: 23px;
  padding: 17px 0 17px 0;
}
.promos .caja:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  border-radius: 30px;
  border: solid 1px white;
}
.promos li {
  display: block;
  margin: 10px 0 0 0;
}
.promos .scale .price {
  color: #0789e5;
}

/*Contacto.html*/
.container-img-contact {
  margin: 0 auto;
  text-align: center;
}

.container-form {
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.container-form .img-contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form .img-contacto-container .img-form {
  margin: 0 auto;
  display: block;
}
.container-form .formulario {
  padding-right: 20px;
  margin-top: 10px;
}
.container-form .formulario .boton-enviar {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
