.row-dos{
    text-align: center;
    padding-left: 30px;
}

.imagen{
    /* padding-left: 30px; */
    padding-top: 10px;
    width: 500px  ;
    margin: auto;

}

.caracteriticas-index{
    background-color: rgb(2, 1, 1);
    margin-top: 20px;

    .instalaciones-container{
        width: fit-content;
        margin: auto;
        padding: 80px 0px;

        .lista-instalaciones{
            color:white;
            font-size: 20px;
            line-height: 40px;
            list-style:circle;
        }

       
        
    }

}

#seccion4{
    text-align: center;
    font-size: 40px;
    color: white;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.prueba1{
    color: white;
    margin: auto;
    width: auto;
    text-align: justify;
    margin-top: 15px;

        .lista-direcciones{
            list-style: none;
            padding-top: 50px;
        }
    
}

.prueba2{
    text-align: center; 
    .google{
        width: 400px;
        height: 400px;
        margin-right:20px ;
       
    }
    
}