@import '../base/variables';

*{
    margin: 0; 
    padding: 0;
 }

 body{
     background-color: $bg-color-general
 }
 p{
    color: white;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.textos-colores{
    color: $colores-textos
}
.margin-navbar{
    margin-right: 60px;
}
