*{
    margin: 0; 
    padding: 0;
 }

 body{
     background-color: #47548d;
 }
 p{
    color: white;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.textos-colores{
    color: rgb(235, 173, 4);
}
.margin-navbar{
    margin-right: 60px;
}